# singletop: sigma = 189.7 pb (measured, docs/backgrounds.md)
pythia_cmnd = background/cmnd/singletop.cmnd
delphes_card = src/generate_events/svj_delphes_particles.tcl
nEvent = 50000
jetR = 1.0
jets_vis_only = 1
dijet_only = 0
vis_jet_pt_min = 20.0
